<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@drawable/myfoodera_2"
        android:label="@string/app_name"
        android:roundIcon="@drawable/myfoodera_2"
        android:supportsRtl="true"
        android:theme="@style/Theme.MyFoodERA">



        <!-- Main Activity -->
        <activity
            android:name=".MainActivity"
            android:exported="true">

        <intent-filter>
            <action android:name="android.intent.action.MAIN" />
            <category android:name="android.intent.category.LAUNCHER" />
        </intent-filter>

        </activity>

        <!-- Home Activity -->
        <activity
            android:name=".HomeActivity"
            android:exported="false" />

        <!-- Favorite Activity -->
        <activity
            android:name=".FavoriteActivity"
            android:exported="false" />

        <!-- Cart Activity -->
        <activity
            android:name=".CartActivity"
            android:exported="false" />
<!--        user profile activity-->
        <activity
            android:name=".UserProfileActivity"
            android:exported="false"/>

        <!-- Settings Activity -->
        <activity
            android:name=".SettingsActivity"
            android:exported="false" />

        <!-- Registration Activity -->
        <activity
            android:name=".RegisterActivity"
            android:exported="false" />

        <!-- Payment Activity-->
        <activity
            android:name=".PaymentActivity"
            android:exported="false" />
        <activity
            android:name=".TrackOrderActivity"
            android:exported="false" />

        <activity
            android:name=".WaitingConfirmationActivity"
            android:exported="false" />

        <activity
            android:name=".SupportActivity"
            android:exported="false" />
    </application>

</manifest>